/* Portal view adapter */

.nxMainContainer {
	font-size: 14px !important;

}

.rf-trn {
	font-size: 14px !important;
}

.rf-tr-nd {
 	background: none !important;
	min-height: 0 !important;
}
.nxMainContainer

.rf-tr
{
margin-bottom: 20px !important;
}


.rf-trn-ico {
    vertical-align: middle;
    margin: 0;
    cursor: pointer;
    width: 0px !important;
    height: 0px !important;
    display: inline-block;
}

a:link {
    margin: 10px !important;
}

:link img {
    border: none  !important;
    display: none  !important;
}

table td {
    vertical-align: middle  !important;
}
