/* Summary Picture view */
.summary .pictureContainer .fullMaxWidth {
	width: auto;
    max-width: 100%;
}

/* Summary Article view */
.widgetPanel.actionsWidgetPanel > img {
	width: auto;
	max-width: 100%;
}