.checkbox-inline.text-overflow.ttcInputcheckbox > img {
     width: 25%;
}

.radio-inline.text-overflow.ttcInputradio>input {
	height: 0;
	width: auto;
}

.radio-inline.text-overflow.ttcInputradio>img {
	vertical-align: middle;
	width: 25%;
}
