/* Onglet Images */
td.toutatice_image_tab_cell_download {
	border-color: grey;
	border-style: solid;
	border-width: thin;
	padding-left: 20px;
	width: 50%;
}

td.toutatice_image_tab_cell_search {
	border-color: grey;
	border-style: solid;
	border-width: thin;
	padding-left: 20px;
	vertical-align: top;
	width: 50%;
}

a.toutaticeUploadImageGadget {
	background-color: "button (COLLECTION background)";
	border: 1px solid;
	border-color: "button (COLLECTION border)";
	color: "link.action (COLLECTION color)";
	cursor: pointer;
	font-size: 0.9em;
	font-weight: bold;
	margin: 0.4em 0.9em 0.9em 0;
	padding: 0.5em 0.9em;
	text-decoration: none;
	white-space: nowrap;
	border-radius: 3px;
	box-shadow: 0 8px 3px rgba(255, 255, 255, 0.5) inset, 1px 1px 0 #efefef;
	text-shadow: 1px 1px 0 #ffffff;
}