/* Zone d'affichage du titre du document*/
.summary_superscript {
	font-size: 12px;
	color: white;
	padding: 2px 4px 2px 4px;
	margin-left: 5px;
	vertical-align: top;
}

.summary_publishedVersion {
	background-color: #6EB735;
}

.summary_workVersion {
	background-color: #5977BD;
}

.summary_archivedVersion {
	background-color: #BD82E4;
}

.summary_pendingVersion {
	background-color: #F88C22;
}

.summary_lockedVersion {
	background-color: #E0A406;
}

.summary_version {
	background-color: #0000ff;
	color : #ffffff;
	
}

.summary_draft {
	background-color: #808080;
}

.visibilityH {
	display: none;
}


/* Actions dans la vue résumé */

.gridBox.gridStyle12 {
    width: 5%;
}