.titre1 {
	color: #555555;
	font-variant: small-caps;
	font-size: large;
}

.titre2 {
	color: #555555;
	margin-bottom: 1em;
}

.titre2 span {
	padding-left: 1em;
}

.note {
	font-style: italic;
	font-size: small;
	color: #AAAAAA;
}

.iconList {
	margin: 0;
	padding: 0;
}

.iconList li {
	margin: 0px 10px 10px 5px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
	width: 96px;
	text-align: center;
}

.iconList li img {
	width: 64px;
	height: 64px;
	margin-bottom: 1em;
}

.cssStyleList {
	/*display:inline-block;*/
	padding: 0px;
}

.cssStyleList li {
	margin: 0px 10px 10px 5px;
	/*position: relative;*/
	padding: 4px 0;
	cursor: pointer;
	/*float: left;*/
	display: inline-block;
	list-style: none;
	width: 200px;
	/*text-align: center;*/
}

.cssStyleList li img {
	margin-bottom: 0px;
}

.ui-state-hover {
	border: 1px solid grey;
}

.ui-state-active {
	border: 1px solid red;
}

.newFragList {
	width: auto;
	height: 60%;
	/*vertical-align: middle;*/
	list-style-type: none;
	/*display: block;*/
}

.newFragList li {
	margin-bottom: 1em;
}

.newFragList li a {
	margin-bottom: 1em;
	color: #555555;
	text-decoration: none;
}

.newFragList li a:hover {
	background-color: white;
	border: 1px solid #555555;
}

.newFragList li img {
	margin-right: 2em;
}

.newFrag {
	padding-left: 32px;
	min-height: 32px;
	background: transparent url(../images/icone_creation.gif) center left
		no-repeat;
}

.fgtGeneric {
	padding-left: 32px;
	min-height: 32px;
	background: transparent url(../images/icone_fragment.gif) center left
		no-repeat;
}

.iconFragment {
	width: 24px;
	height: 24px;
	padding-right: 5px;
}