/* Formulaire de recherche */
table.dataInput {
	margin-left: 20%;
	margin-top: 0.4em;
	width: 100%;
}

.dataInput.thin {
	width: 15px;
}

.tabsContent {
	font-size: 0.95em;
}

.dataInput td {
	border: 0 solid;
	padding: 0.6em 0.3em;
}

.labelColumn {
	font-weight: bold;
	text-align: right;
	vertical-align: top;
	width: 27%;
}

.fieldColumn {
	padding-left: 0.5em;
	vertical-align: top;
}

input {
	border: 1px solid #BBBBBB;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 1px 1px 2px #E0E0E0 inset;
	color: #666666;
	display: inline-block;
	font-size: 1em;
	line-height: 18px;
	margin: 0 0 0.3em;
	padding: 0.3em;
}

.dataInput .dataInputText {
	max-width: 500px;
	vertical-align: top;
	width: 95%;
}

/* arbre de recherche */
div.genericPopUp {
	background-color: #FFFFFF;
	border: 1px solid #B5BCC6;
	display: none;
	position: absolute;
	width: 400px;
	z-index: 10000;
}

div.closePopUpHeader {
	background-color: #F6F8FF;
	border-bottom: 1px dotted #DEDEDE;
	padding: 3px;
	text-align: right;
	font-size: 11px;
}

span.popUpTitle {
	float: left;
}

span.closePopUp {
	cursor: pointer;
	float: right;
}

.genericPopUp .closePopUpHeader {
	background-color: #F6F8FF;
	border-bottom: 1px dotted #DEDEDE;
	padding: 3px;
	text-align: right;
}